/*
    contains all the responsive styles.

*/

@media screen and (max-width: 1170px) {
    .main-section {
        width: 90%;
    }
    .project-desc {
        line-height: 2;
    }
}

@media screen and (max-width: 1056px) {
    .main-section {
        .main-intro {
            span {
                font-size: 3rem;
            }
        }
        .text-size {
            font-size: 2.5rem;
            // transition: font-size 2s ease-in-out;
        }
    }
    .about-content {
        .about-me,
        .skill-set {
            height: 80%;
        }
    }
}
@media screen and (max-width: 1024px) {
    #main-nav {
        line-height: 3;
        .sub-nav {
            width: 50%;
        }
    }
}

@media screen and (max-width: 761px) {
    .main-section {
        .main-intro {
            h1 {
                font-size: 1.23rem;
            }
            span {
                font-size: 4rem;
            }
        }
        .text-size {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 710px) {
    .burger {
        display: block;
        cursor: pointer;
    }
    .sub-nav {
        position: absolute;
        right: -10px;
        height: 30vh;
        width: 50%;
        top: 8vh;
        background-color: $backgrounColor;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
        border-radius: 3px;
        align-items: center;
        transform: translateX(100%);
        li {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 670px) {
    .main-section {
        width: 80%;
        align-items: flex-start;
        .main-intro {
            display: flex;
            flex-direction: column;
            span {
                margin-left: unset;
            }
        }
    }
}

@media screen and (max-width: 598px) {
    .about-content {
        .about-me,
        .skill-set {
            height: 90%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 415px) {
    .sub-nav {
        top: 8.5vh;
    }
    // section
    .main-section {
        .main-intro {
            display: flex;
            flex-direction: column;
            span {
                font-size: 3rem;
            }
        }
    }

    // about
    .about-content {
        width: 90%;
        grid-row-gap: 2rem;
        .about-me,
        .skill-set {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }

    // projects
    .project-grid {
        width: 100%;
        .project-items {
            width: 90%;
            .project-img {
                img {
                    width: 90%;
                }
            }
            .project-desc {
                p {
                    width: 90%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .sub-nav {
        top: 8.5vh;
    }
    .main-section {
        width: 80%;
        height: 100vh;
    }
}

@keyframes navLiFade {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    transform: translateX(0%);
}

.sub-links-fade {
    animation: navLiFade 0.5s ease forwards;
}

@keyframes navLiFade {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line:nth-child(1) {
    transform: rotate(-45deg) translate(-13px, 14px);
}

.toggle .line:nth-child(2) {
    opacity: 0;
}

.toggle .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
