* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1fr, 1r))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1fr, 1r));
  grid-row-gap: 5rem;
  background-color: #0a1930;
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
}

.burger .line {
  width: 45px;
  height: 5px;
  background-color: #4eb19e;
  margin: 9px 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a1930;
  line-height: 2.5;
  color: #bdc3c7;
  -webkit-box-shadow: 2px -8px 25px #000;
          box-shadow: 2px -8px 25px #000;
  z-index: 9999;
}

#main-nav h2 a {
  color: #4eb19e;
  text-decoration: none;
}

.sub-nav {
  list-style: none;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
  vertical-align: bottom;
}

.sub-nav li {
  font-weight: 500;
  height: 100%;
  text-transform: uppercase;
}

.sub-nav li a {
  color: #757f9a;
  text-decoration: none;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.sub-nav li a:hover {
  color: #4eb19e;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animatedBtn {
  position: relative;
  width: 100px;
  height: 30px;
  background: none;
  border: 2px solid;
  color: #757f9a;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.animatedBtn::before, .animatedBtn::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 5px;
  background: #0a1930;
  -webkit-transform: skewX(50deg);
          transform: skewX(50deg);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.animatedBtn::before {
  top: -4px;
  left: 10%;
}

.animatedBtn::after {
  bottom: -4px;
  right: 10%;
}

.animatedBtn:hover::before {
  left: 80%;
}

.animatedBtn:hover::after {
  right: 80%;
}

.animatedBtn:hover {
  color: #4eb19e;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  /* animation for span text color  */
  /* animation for quote front size */
}

.main-section .main-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-section .main-intro h1 {
  color: #4eb19e;
}

.main-section .main-intro span {
  font-size: 5rem;
  color: black;
  margin-left: 20px;
  -webkit-animation: textColor 2.5s ease-in forwards;
          animation: textColor 2.5s ease-in forwards;
}

.main-section .main-qoute {
  color: rgba(255, 255, 255, 0.7);
  -webkit-animation: fontSize 2s ease-in-out forwards;
          animation: fontSize 2s ease-in-out forwards;
}

.main-section .moreBtn {
  width: 150px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
}

@-webkit-keyframes textColor {
  100% {
    text-shadow: 2px 2px #4eb19e;
  }
}

@keyframes textColor {
  100% {
    text-shadow: 2px 2px #4eb19e;
  }
}

@-webkit-keyframes fontSize {
  100% {
    font-size: 3.5rem;
  }
}

@keyframes fontSize {
  100% {
    font-size: 3.5rem;
  }
}

.about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.about-content .about-me,
.about-content .skill-set {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #162a45;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.about-content .about-me .self-desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content .about-me .self-desc p {
  text-indent: 2.25rem;
  line-height: 1.5;
}

.about-content .about-me .self-desc a,
.about-content .about-me .self-desc span {
  color: #4eb19e;
  text-decoration: none;
  font-size: 1.4rem;
}

.about-content .title {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #4eb19e;
  background: #0a1930;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-content .skill-set {
  padding: 10px;
}

.about-content .self-desc,
.about-content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 15px;
  color: #757f9a;
  background-color: #0a1930;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.about-content .skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .skills ul {
  list-style: none;
  line-height: 2;
}

.project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 5rem;
  margin: auto;
  width: 80%;
  height: 100vh;
}

.project-grid .project-items {
  display: -ms-grid;
  display: grid;
  margin: auto;
  height: 100%;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  -webkit-box-shadow: 2px 2px 20px #000;
          box-shadow: 2px 2px 20px #000;
  border-radius: 5px;
}

.project-grid .project-items .project-img {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.project-grid .project-items .project-img img {
  width: 100%;
  background-color: #4eb19e;
  opacity: 0.8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-grid .project-items .project-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.project-grid .project-items .project-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.project-grid .project-items .project-desc h3 {
  font-size: 2rem;
  color: #4eb19e;
}

.project-grid .project-items .project-desc p {
  font-size: 1.2rem;
  color: #8e9eab;
  text-indent: 3rem;
  line-height: 1.5;
  -webkit-box-shadow: 2px 2px 20px #000;
          box-shadow: 2px 2px 20px #000;
  border-radius: 5px;
  padding: 10px;
  background-color: #162a45;
  z-index: 999;
}

.project-grid .project-items .project-desc ul {
  list-style: none;
}

.project-grid .project-items .project-desc ul li {
  text-transform: uppercase;
  color: #4eb19e;
}

.project-grid .project-items .project-desc a {
  color: #757f9a;
  font-size: 2rem;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.project-grid .project-items .project-desc a:hover {
  color: #4eb19e;
}

/*
    contains all the responsive styles.

*/
@media screen and (max-width: 1170px) {
  .main-section {
    width: 90%;
  }
  .project-desc {
    line-height: 2;
  }
}

@media screen and (max-width: 1056px) {
  .main-section .main-intro span {
    font-size: 3rem;
  }
  @-webkit-keyframes fontSize {
    100% {
      font-size: 2.5rem;
    }
  }
  @keyframes fontSize {
    100% {
      font-size: 2.5rem;
    }
  }
  .about-content .about-me,
  .about-content .skill-set {
    height: 80%;
  }
}

@media screen and (max-width: 1024px) {
  #main-nav {
    line-height: 3;
  }
  #main-nav .sub-nav {
    width: 50%;
  }
}

@media screen and (max-width: 761px) {
  .main-section .main-intro h1 {
    font-size: 1.23rem;
  }
  .main-section .main-intro span {
    font-size: 4rem;
  }
  @-webkit-keyframes fontSize {
    100% {
      font-size: 2.25rem;
    }
  }
  @keyframes fontSize {
    100% {
      font-size: 2.25rem;
    }
  }
}

@media screen and (max-width: 710px) {
  .burger {
    display: block;
    cursor: pointer;
  }
  .sub-nav {
    position: absolute;
    right: -10px;
    height: 30vh;
    width: 50%;
    top: 8vh;
    background-color: #0a1930;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .sub-nav li {
    opacity: 0;
  }
}

@media screen and (max-width: 376px) {
  .sub-nav {
    top: 10.5vh;
  }
}

@media screen and (max-width: 670px) {
  .main-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-section .main-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .main-intro span {
    margin-left: unset;
  }
}

@media screen and (max-width: 598px) {
  .about-content .about-me,
  .about-content .skill-set {
    height: 90%;
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .sub-nav {
    top: 9.5vh;
  }
  .main-section .main-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .main-intro span {
    font-size: 3rem;
  }
  .about-content {
    width: 90%;
    grid-row-gap: 2rem;
  }
  .about-content .about-me,
  .about-content .skill-set {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .project-grid {
    width: 100%;
  }
  .project-grid .project-items {
    width: 90%;
  }
  .project-grid .project-items .project-img img {
    width: 90%;
  }
  .project-grid .project-items .project-desc p {
    width: 90%;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes navLiFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLiFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sub-links-fade {
  -webkit-animation: navLiFade 0.5s ease forwards;
          animation: navLiFade 0.5s ease forwards;
}

@keyframes navLiFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-13px, 14px);
          transform: rotate(-45deg) translate(-13px, 14px);
}

.toggle .line:nth-child(2) {
  opacity: 0;
}

.toggle .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
/*# sourceMappingURL=style.css.map */