$backgrounColor: rgb(10, 25, 48);
$stylingColor: rgb(78, 177, 158);
$descColor: #162a45;
$greyClr: #757f9a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1r));
    grid-row-gap: 5rem;
    background-color: $backgrounColor;
    // overflow: hidden;
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    .line {
        width: 45px;
        height: 5px;
        background-color: $stylingColor;
        margin: 9px 2px;
        transition: all 0.3s ease;
    }
}

#main-nav {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $backgrounColor;
    line-height: 2.5;
    color: #bdc3c7;
    box-shadow: 2px -8px 25px #000;
    z-index: 9999;
    h2 {
        a {
            color: $stylingColor;
            text-decoration: none;
        }
    }
}

.sub-nav {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
    vertical-align: bottom;
    li {
        font-weight: 500;
        height: 100%;
        text-transform: uppercase;
        a {
            color: $greyClr;
            text-decoration: none;
            transition: color 250ms ease-in;
            &:hover {
                color: $stylingColor;
            }
        }
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.animatedBtn {
    position: relative;
    width: 100px;
    height: 30px;
    background: none;
    border: 2px solid;
    color: $greyClr;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 5px;
        background: #0a1930;
        transform: skewX(50deg);
        transition: 0.4s linear;
    }
    &::before {
        top: -4px;
        left: 10%;
    }
    &::after {
        bottom: -4px;
        right: 10%;
    }
    &:hover::before {
        left: 80%;
    }
    &:hover::after {
        right: 80%;
    }
    &:hover {
        color: $stylingColor;
    }
}

// main section

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    line-height: 2;
    // background-color: springgreen;
    .main-intro {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        h1 {
            // font-size: 20px;
            color: #4eb19e;
        }
        span {
            font-size: 5rem;
            color: black;
            margin-left: 20px;
            animation: textColor 2.5s ease-in forwards;
        }
    }
    .main-qoute {
        // font-size: 10px;
        color: rgba(255, 255, 255, 0.7);
        animation: fontSize 2s ease-in-out forwards;
    }
    .moreBtn {
        width: 150px;
        height: 50px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 50px;
    }
    /* animation for span text color  */
    @keyframes textColor {
        100% {
            text-shadow: 2px 2px #4eb19e;
        }
    }
    /* animation for quote front size */
    @keyframes fontSize {
        100% {
            font-size: 3.5rem;
        }
    }
}

// about me

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 2rem;
    align-items: center;
    width: 80%;

    .about-me,
    .skill-set {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        font-size: 1.3rem;
        background-color: $descColor;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    }

    .about-me {
        .self-desc {
            flex-direction: column;
            p {
                text-indent: 2.25rem;
                line-height: 1.5;
            }
            a,
            span {
                color: $stylingColor;
                text-decoration: none;
                font-size: 1.4rem;
            }
        }
    }

    .title {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $stylingColor;
        background: $backgrounColor;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .skill-set {
        padding: 10px;
    }

    .self-desc,
    .skills {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 15px;
        color: $greyClr;
        background-color: $backgrounColor;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
    .skills {
        align-items: center;
        ul {
            list-style: none;
            line-height: 2;
        }
    }
}

// proejct section
.project-grid {
    display: grid;
    grid-template-columns: 1fr;

    grid-row-gap: 5rem;
    margin: auto;
    width: 80%;
    height: 100vh;
    // justify-content: center;
    .project-items {
        display: grid;
        margin: auto;
        // width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-column-gap: 4rem;
        align-items: center;
        padding: 1.25rem;
        box-shadow: 2px 2px 20px #000;
        border-radius: 5px;
        .project-img {
            overflow: hidden;
            margin: 0;
            padding: 0;
            img {
                width: 100%;
                background-color: $stylingColor;
                opacity: 0.8;
                transform: scale(1);
                transition: transform 250ms ease-in;
                object-fit: cover;
                &:hover {
                    transform: scale(1.2);
                    opacity: 1;
                }
            }
        }

        .project-desc {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            h3 {
                font-size: 2rem;
                color: $stylingColor;
            }
            p {
                font-size: 1.2rem;
                color: #8e9eab;
                text-indent: 3rem;
                line-height: 1.5;
                box-shadow: 2px 2px 20px #000;
                border-radius: 5px;
                padding: 10px;
                background-color: $descColor;
                z-index: 999;
            }
            ul {
                list-style: none;
                li {
                    text-transform: uppercase;
                    color: $stylingColor;
                }
            }
            a {
                color: $greyClr;
                font-size: 2rem;
                transition: color 250ms ease-in-out;
                &:hover {
                    color: $stylingColor;
                }
            }
        }
    }
}

@import "./mobile";
