* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #0a1930;
}

/* nav style */

.burger {
    display: none;
    width: 50px;
    height: 50px;
}

.burger .line {
    width: 45px;
    height: 5px;
    background-color: #4eb19e;
    margin: 9px 2px;
    transition: all 0.3s ease;
}

#main-nav {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0a1930;
    line-height: 2.5;
    color: #bdc3c7;
    box-shadow: 2px -8px 25px #000;
}
#main-nav h2 {
    color: #4eb19e;
}

.sub-nav {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
    vertical-align: bottom;
}

.sub-nav li {
    font-weight: bold;
    height: 70%;
    text-transform: uppercase;
    cursor: pointer;
}

.animatedBtn {
    width: 100px;
    height: 30px;
    background: none;
    border: 2px solid;
    color: #4eb19e;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    outline: none;
}

.animatedBtn::before,
.animatedBtn::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 5px;
    background: #0a1930;
    transform: skewX(50deg);
    transition: 0.4s linear;
}

.animatedBtn::before {
    top: -4px;
    left: 10%;
}

.animatedBtn::after {
    bottom: -4px;
    right: 10%;
}

.animatedBtn:hover::before {
    left: 80%;
}

.animatedBtn:hover::after {
    right: 80%;
}
/* when screen width is less or equal to 1024px */
/* 
    section
*/

section {
    height: 900px;
    max-height: 1000px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    line-height: 2;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.intro h1 {
    font-size: 20px;
    color: #4eb19e;
}
.intro span {
    font-size: 70px;
    color: black;
    margin-left: 20px;
    animation: textColor 2.5s ease forwards;
}

.content .qoute {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
    animation: fontSize 2s ease forwards;
}

.moreBtn {
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}

/* animation for span text color  */
@keyframes textColor {
    100% {
        text-shadow: 2px 2px #4eb19e;
    }
}
/* animation for quote front size */
@keyframes fontSize {
    100% {
        font-size: 60px;
    }
}

@media screen and (max-width: 1024px) {
    #main-nav {
        line-height: 3;
    }
    .sub-nav {
        width: 50%;
    }
    @keyframes fontSize {
        100% {
            font-size: 40px;
        }
    }
}

/* when screen width is less or equal to 710px */

@media screen and (max-width: 710px) {
    body {
        overflow-y: hidden;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .sub-nav {
        position: absolute;
        right: 0px;
        height: 30vh;
        width: 50%;
        top: 8vh;
        background-color: #0a1930;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 2px #000;
        border-radius: 3px;
        align-items: center;
        transform: translateX(100%);
    }
    .sub-nav li {
        opacity: 0;
    }
    .intro {
        flex-direction: column;
    }
    .content .intro > h1 {
        font-size: 20px;
        margin-bottom: -25px;
    }
    .intro span {
        font-size: 80px;
        margin-left: 0;
    }
    @keyframes fontSize {
        100% {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 415px) {
    section {
        height: 700px;
    }
    .intro,
    .qoute {
        width: 90%;
    }
    .intro h1 {
        font-size: 5px;
    }
    .intro span {
        font-size: 50px;
    }
}

@keyframes navLiFade {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    transform: translateX(0%);
}

.sub-links-fade {
    animation: navLiFade 0.5s ease forwards;
}

@keyframes navLiFade {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line:nth-child(1) {
    transform: rotate(-45deg) translate(-13px, 14px);
}

.toggle .line:nth-child(2) {
    opacity: 0;
}

.toggle .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
